#recipientSelection {
    width: 80%;
}


#searchBar {
    margin-top: 22px;
    width: 400px;
    height: 50px;
    font-size: 40px;
}

#searchBarButton {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#dropdown {
   height: 50px;
}

#logoArea {
    width: auto;
    text-align: center;
}

.box {
    text-align: center;
    margin-top: 20px;
}


#recipeOfTheDayArea {
    width: 30%;
    float: left;
    height: 300px;

    background-color: #D4A017;
    border: groove;
    border-color: black;
    margin-left: 1%;
}



.container {
    background-color: #D4A017;
    /*border-radius: 20%;*/
    border: groove;
    border-color: black;
}

#recipientSelection {
    width: 80%;
}

#searchBarArea {
    background-color: #FF007F;
    text-align: center;
    height: 100px;
    
}

#searchBar {
    margin-top: 22px;
    width: 400px;
    height: 50px;
    font-size: 40px;
}

#searchBarButton {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#dropdown {
   height: 50px;
}

#logoArea {
    width: auto;
    text-align: center;
}

.box {
    text-align: center;
    margin-top: 20px;
}

#mostSearchedArea {
    width: 30%;
    height: 300px;

    margin-left: 18%;
    float: left;
    
}


#filterArea {
    width: 18%;
    height: 300px;
    position: absolute;
    right: 0;
    visibility: hidden;
    
    background-color: #0A4C6C;    
}

.TagCloudResultPage {
    width: 18%;
    height: 300px;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    
    background-color: #0A4C6C;
    border: groove;
    border-color: black;
}

#recipeOfTheDayArea {
    width: 30%;
    float: left;
    height: 300px;
}

.container {
    background-color: #D4A017;
    border: groove;
    border-color: black;
}

#recipeOfTheDayArea {
    background-color: #D4A017;
    border: groove;
    border-color: black;
    margin-left: 1%;
}

#resultListArea {
    width: 80%;
    visibility: hidden;
}

.result {
    height: 155px;
    background-color: #D4A017;
    font-family: helvetica;
    margin-top: 10px;
    cursor: pointer;
}

.expandRecipe {
    height: 200px;
    background-color: #146186;
}

.picInResult {
    width: 200px;
    height: 120px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.recipeListTitle {
    width: 800px;
    height: 35px;

    
    margin-top: 20px;
    margin-left: 10px;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.recipeListDuration {
    width: 300px;
    height: 40px;

    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    float: left;
}

.recipeListRating {
    
    margin-left: 250px;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    float: left;
}

.recipeListAlc{
    margin-top: -56px;
    margin-left: 850px;
    font-size: 10px;
    font-style: italic;
    text-align: left;  
    float: left;


}

.recipeListDiabetus{
    margin-top: -20px;
    margin-left: 850px;
    font-size: 10px;
    font-style: italic;
    text-align: left;


}

.recipeListLactose{
    margin-left: 850px;
    font-size: 10px;
    font-style: italic;
    text-align: left;

}

.recipeListIngredients {
    width: 400px;
    height: 0px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: left;
}

.recipeListInstructions {
    
    font-size: 20px;
    font-style: italic;
    text-align: justify;

    margin-left: 500px;
    margin-top: -20px;
}

.scroll {
    background: transparent;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid black;
    
    /*required for proper track sizing in FF*/
    width: 150px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 5px;
    background: black;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
}

input[type=range]::-moz-range-track {
    width: 150px;
    height: 5px;
    background: black;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid black;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 150px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: black;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: black;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}
input[type=range]:focus::-ms-fill-lower {
    background: black;
}
input[type=range]:focus::-ms-fill-upper {
    background: black;
}