ul.tx3-tag-cloud {
}
ul.tx3-tag-cloud li {
display: block;
float: left;
list-style: none;

}
ul.tx3-tag-cloud li a {
display: block;
text-decoration: none;
color: #835F00;
padding: 3px 1px;
}
ul.tx3-tag-cloud li a:hover {
color: #000000;
-webkit-transition: color 250ms linear;
-moz-transition: color 250ms linear;
-o-transition: color 250ms linear;
-ms-transition: color 250ms linear;
transition: color 250ms linear;
}
